In [25]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder

In [26]:
diabetes = pd.read_csv("diabetes.csv")

In [27]:
diabetes.isnull().sum()

ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

In [28]:
diabetes.describe()

,ID,No_Pation,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI
count,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,340.500000,2.705514e+05,53.528000,5.124743,68.943000,8.281160,4.862820,2.349610,1.204750,2.609790,1.854700,29.578020
std,240.397673,3.380758e+06,8.799241,2.935165,59.984747,2.534003,1.301738,1.401176,0.660414,1.115102,3.663599,4.962388
min,1.000000,1.230000e+02,20.000000,0.500000,6.000000,0.900000,0.000000,0.300000,0.200000,0.300000,0.100000,19.000000
25%,125.750000,2.406375e+04,51.000000,3.700000,48.000000,6.500000,4.000000,1.500000,0.900000,1.800000,0.700000,26.000000
50%,300.500000,3.439550e+04,55.000000,4.600000,60.000000,8.000000,4.800000,2.000000,1.100000,2.500000,0.900000,30.000000
75%,550.250000,4.538425e+04,59.000000,5.700000,73.000000,10.200000,5.600000,2.900000,1.300000,3.300000,1.500000,33.000000
max,800.000000,7.543566e+07,79.000000,38.900000,800.000000,16.000000,10.300000,13.800000,9.900000,9.900000,35.000000,47.750000

In [29]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
diabetes['Gender'] = le.fit_transform(diabetes['Gender'])
diabetes['CLASS'] = le.fit_transform(diabetes['CLASS'])

In [30]:
num_cols = [
    'AGE','Urea','Cr','HbA1c','Chol',
    'TG','HDL','LDL','VLDL','BMI'
]

Q1 = diabetes[num_cols].quantile(0.25)
Q3 = diabetes[num_cols].quantile(0.75)
IQR = Q3 - Q1

diabetes = diabetes[~(
    (diabetes[num_cols] < (Q1 - 1.5 * IQR)) |
    (diabetes[num_cols] > (Q3 + 1.5 * IQR))
).any(axis=1)]

In [31]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
diabetes[num_cols] = scaler.fit_transform(diabetes[num_cols])

In [32]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
diabetes[num_cols] = scaler.fit_transform(diabetes[num_cols])

Adult dataset

In [33]:
adult = pd.read_csv("adult.csv")

In [34]:
adult.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [35]:
adult.replace('?', np.nan, inplace=True)
adult.isnull().sum()

age                   0
workclass          2799
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2809
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      857
income                0
dtype: int64

In [36]:
adult.dropna(inplace=True)

In [37]:
cat_cols = adult.select_dtypes(include='object').columns
cat_cols

Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender', 'native-country', 'income'],
      dtype='object')

In [38]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
for col in cat_cols:
    adult[col] = le.fit_transform(adult[col])

In [39]:
num_cols = [
    'age','fnlwgt','educational-num',
    'capital-gain','capital-loss','hours-per-week'
]

Q1 = adult[num_cols].quantile(0.25)
Q3 = adult[num_cols].quantile(0.75)
IQR = Q3 - Q1

adult = adult[~(
    (adult[num_cols] < (Q1 - 1.5 * IQR)) |
    (adult[num_cols] > (Q3 + 1.5 * IQR))
).any(axis=1)]

In [40]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
adult[num_cols] = scaler.fit_transform(adult[num_cols])

In [41]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
adult[num_cols] = scaler.fit_transform(adult[num_cols])